<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personal navigator</title>
</head>
<body>
      <h1 style="background-color:powderblue;"> personal navigator to visit sites click on the given link </h1>
      <h2> <a href = "https://www.skype.com/en/"> skype webpage</a><br>
        <a href = "https://twitter.com/MaxxmannComms"> maxxmann webpage</a><br>
        <a href = "https://www.geeksforgeeks.org/"> geeks for geeks</a><br>
        <a href = "https://www.hackerrank.com/"> hacker rank</a><br>
        <a href = "https://www.codechef.com/"> code chef</a></h2><br>
</body>
</html>

